<div class="login-page">

  <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-4 d-flex flex-column align-items-center justify-content-center">
           <div class="card mb-3 decoration">

            <div class="card-body">
             <form class="row g-3" [formGroup]="login_form" >
                <div>
                  <h1 class="text-center">Connectez-vous</h1>
                </div>

                <div class="form-group">
                  <label class="col-form-label" for="username">Email</label>
                  <input class="form-control" formControlName="email" type="text" >
                  <div class="invalid-feedback txt-danger">Le nom d'utilisateur est requis.</div>
                </div>

                <div class="form-group">
                  <label class="col-form-label">Mot de passe</label>
                  <input class="form-control" formControlName="password" type="password" />
                  <div class="invalid-feedback txt-danger">Le mot de passe est requis.</div>
                </div>

                <div class="form-group mb-0">
                  <div class="text-end mt-3">
                    <button class="btn btn-primary btn-block w-100" type="submit" (click)="login()">
                      Se connecter
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>


        </div>
      </div>
    </div>
  </section>
</div>

