<div class="m-2">

  <button mat-icon-button mat-dialog-close>

    <mat-icon>close</mat-icon>

  </button>

  <mat-dialog-content>


    <div class="row">
      <div class="col-md-2">
        <img src="{{ img_url }}" class="rounded-circle" width="100" height="100">
      </div>
      <div class="col-md-10">

        <dl class="row">
          <dd class="col-sm-12">
            <strong>Nom et prénom : </strong>{{ data_user.get("nom") + " " + data_user.get("prenom") }}
          </dd>
          <dd class="col-sm-12">
            <strong>Email : </strong>{{ data_user.get("email") }}
          </dd>
          <dd class="col-sm-12">
            <strong>Mot de passe : </strong>{{ data_user.get("password") }}
          </dd>
          <dd class="col-sm-12">
            <strong>Type : </strong>{{ data_user.get("role") }}
          </dd>
            <dd class="col-sm-12">
              <strong>Niveau : </strong>{{ data_user.get("niveau") }}
            </dd>
        </dl>

      </div>
    </div>


    <div class="row mt-4">
      <p>Voulez-vous enregistrer ?</p>
    </div>

    <div class="row" [hidden]="hidden_buttons">

      <div  class="mt-2" >
        <span class="btn btn-success" (click)="add_user()">
          Oui
        </span>
      </div>

      <div class="mt-2" >
        <span class="btn btn-danger" mat-dialog-close>
          Non
        </span>
      </div>
    </div>

    <div class="row">

      <div class="mt-3">

        @if ( is_loading === true )
        {
          <mat-progress-spinner mode="indeterminate"  diameter="25" strokeWidth="4"></mat-progress-spinner>
        }
        @else
        {
          @if( message_success )
          {
            <div class="text-success" role="alert">
              <mat-icon class="green-icon">check_circle</mat-icon>
              <span>{{ message_success }}</span>
            </div>
          }

          @if( message_error )
          {
            <div class="text-danger" role="alert">
              <mat-icon class="red-icon">cancel</mat-icon>
              <span>{{ message_error }}</span>
            </div>
          }
        }

      </div>

    </div>

  </mat-dialog-content>




</div>
