
<mat-card (click)="show_utilisateur()" class="mt-2">
  <mat-card-content>

    <div class="row">
      <div class="col-md-2">
        <img src="{{ utilisateur.img_url }}" class="rounded-circle" width="75" height="75">
      </div>
      <div class="col-md-10">

          <strong>Nom et prénom : </strong>{{ utilisateur.nom + " " + utilisateur.prenom }}
          <br>
          <strong>Email : </strong>{{ utilisateur.email }}
          <br>

          @if ( utilisateur.niveau === "" || utilisateur.niveau === null )
          {
            <strong>Type : </strong>{{ utilisateur.role }}
            <br>
          }
          @else
          {
            <strong>Type : </strong>{{ utilisateur.role + " ( " + utilisateur.niveau + " ) " }}
            <br>
          }

          @if( utilisateur.deleted === true )
          {
              <strong class="text-danger">Supprimé</strong>
              <br>
          }
      </div>
    </div>

  </mat-card-content>
</mat-card>
