@if( is_logged )
{
  <mat-toolbar>

    <button mat-icon-button (click)=" sidenav.toggle() ">
      <mat-icon>
        menu
      </mat-icon>
    </button>
    <span>Assignment MBDS</span>

  </mat-toolbar>

  <mat-sidenav-container>

    <mat-sidenav #sidenav="matSidenav" mode="side">

      <img src="{{ user_logged?.img_url }}" class="rounded-circle" width="100" height="100">

      <h3 class="name">
        <b>{{ user_logged?.nom + " " + user_logged?.prenom }}</b>
        <p>{{ user_logged?.email }}</p>
      </h3>
      <mat-divider></mat-divider>
      <p class="name">
        {{ user_logged?.role }}
        <br>
        {{ user_logged?.niveau }}
      </p>
      <mat-divider></mat-divider>

     @if( isAdmin )
      {

        <!-- Utilisateur -->
        <button mat-button class="menu-button" [matMenuTriggerFor]="menu_1" >
          <mat-icon class="white-icon">people</mat-icon>
          <span class="text-white">Utilisateur</span>
        </button>

        <mat-menu #menu_1="matMenu">

          <button mat-menu-item  routerLink="/add-user">
            <mat-icon>person_add</mat-icon>
            <span>Nouveau utilisateur</span>
          </button>

          <button mat-menu-item routerLink="/list-user">
            <mat-icon>format_list_bulleted</mat-icon>
            <span>Liste des utilisateurs</span>
          </button>

        </mat-menu>

        <!-- Assignation -->

        <button mat-button class="menu-button" routerLink="/list-assignment">
          <mat-icon class="white-icon">format_list_bulleted</mat-icon>
          <span class="text-white">Liste des assignations</span>
        </button>

        <button mat-button class="menu-button" routerLink="/matieres">
          <mat-icon class="white-icon">work</mat-icon>
          <span class="text-white">Matières</span>
        </button>

      }
      @else if ( isEnseignant )
      {

        <!-- Assignation -->
        <button mat-button class="menu-button" [matMenuTriggerFor]="menu_assign" >
          <mat-icon class="white-icon">assignment</mat-icon>
          <span class="text-white">Assignation</span>
        </button>

        <mat-menu #menu_assign="matMenu">

          <button mat-menu-item  routerLink="/add-assignment">
            <mat-icon>library_add</mat-icon>
            <span>Nouvelle assignation</span>
          </button>

          <button mat-menu-item routerLink="/list-assignment">
            <mat-icon>format_list_bulleted</mat-icon>
            <span>Liste des assignations</span>
          </button>

        </mat-menu>
      }
      @else
      {

        <button mat-button class="menu-button" routerLink="/list-assignment-student">
          <mat-icon class="white-icon">assignment</mat-icon>
          <span class="text-white">Mes assignations</span>
        </button>

      }

      <mat-divider></mat-divider>

      <button mat-button class="menu-button" routerLink="/profile/{{ user_logged?._id }}" routerLinkActive="active">
        <mat-icon class="white-icon">edit</mat-icon>
        <span class="text-white">Modifier mon profil</span>
      </button>

      <button mat-button class="menu-button"  (click)="log_out()">
        <mat-icon class="white-icon">logout</mat-icon>
        <span class="text-white">Se déconnecter</span>
      </button>


    </mat-sidenav>

    <mat-sidenav-content>

      <div class="content">

        <router-outlet></router-outlet>

      </div>

    </mat-sidenav-content>

  </mat-sidenav-container>
}
