@if( is_logged )
{
  <mat-toolbar>

    <button mat-icon-button (click)=" sidenav.toggle() ">
      <mat-icon>
        menu
      </mat-icon>
    </button>

  </mat-toolbar>

  <mat-sidenav-container>

    <mat-sidenav #sidenav="matSidenav" mode="side">



      <img src="{{ user_logged?.img_url }}" class="rounded-circle" width="100" height="100">

      <h4 class="name">
        {{ user_logged?.nom + " " + user_logged?.prenom }}
        <br>
        {{ user_logged?.email }}
        <br>
        {{ user_logged?.role }}
        <br>
        {{ user_logged?.niveau }}
      </h4>

      <mat-divider></mat-divider>

      @if( role_user_logged === "Administrateur" )
      {

        <!-- Utilisateur -->
        <button mat-button class="menu-button" [matMenuTriggerFor]="menu_1" >
          <mat-icon class="white-icon">people</mat-icon>
          <span class="text-white">Utilisateur</span>
        </button>

        <mat-menu #menu_1="matMenu">

          <button mat-menu-item  routerLink="/add-user">
            <mat-icon>person_add</mat-icon>
            <span>Nouveau utilisateur</span>
          </button>

          <button mat-menu-item routerLink="/list-user">
            <mat-icon>format_list_bulleted</mat-icon>
            <span>Liste des utilisateurs</span>
          </button>

        </mat-menu>
      }<!--
      @else if ( role_user_logged === "Enseignant" )
      {

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" routerLink="/profile/{{ user_logged?._id }}">
          <mat-icon class="white-icon">edit</mat-icon>
          <span class="text-white">Modifier mon profil</span>
        </button>

      }
      @else
      {

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" routerLink="/profile/{{ user_logged?._id }}">
          <mat-icon class="white-icon">edit</mat-icon>
          <span class="text-white">Modifier mon profil</span>
        </button>

      }-->

      <mat-divider></mat-divider>

      <button mat-button class="menu-button" routerLink="/profile/{{ user_logged?._id }}">
        <mat-icon class="white-icon">edit</mat-icon>
        <span class="text-white">Modifier mon profil</span>
      </button>

      <button mat-button class="menu-button"  (click)="log_out()">
        <mat-icon class="white-icon">logout</mat-icon>
        <span class="text-white">Se déconnecter</span>
      </button>


    </mat-sidenav>

    <mat-sidenav-content>

      <div class="content">

        <router-outlet></router-outlet>

      </div>

    </mat-sidenav-content>

  </mat-sidenav-container>
}
