
mat-toolbar
{
  background-color: #7426fb;
  color: white;
}

mat-toolbar span
{
  color: white;
}

mat-sidenav
{
  width: 300px;
  border-right: none;
  background-color: #242527;
  padding: 15px;
  text-align: center;

}

.content
{
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

mat-sidenav-container
{
  height: calc(100vh - 65px);
}

.menu-button
{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 15px;
  font-family: Arial, sans-serif;

  mat-icon
  {
    margin-right: 10px;
  }

}

.menu-button:hover {
  background-color: rgba(58, 58, 58, 0.84);
}

.menu-button.active {
  background-color: rgba(102, 16, 242, 0.78);
}

.name
{
  margin: 0;
  margin-top: 10px;
  font-weight: normal;
  color: white ;
}

.designation
{
  margin-top: 2px;
  font-size: 1rem;
  color: white ;
}

mat-divider
{
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #ffffff;
}

