<div class="row mt-3 mb-2">
  <div class="col-md-6">
    <h1>Liste des assignations</h1>
  </div>
  <div class="col-md-6"></div>
</div>

<div class="row mt-3">
  <mat-form-field  class="col-md-2">
    <mat-label>Niveau</mat-label>
    <mat-select [(ngModel)]="filtre_niveau" (selectionChange)="onLevelSelect()">
      @for (level of levels; track level)
      {
        <mat-option [value]="level.value">{{ level.option }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field  class="col-md-2">
    <mat-label>Supprimée</mat-label>
    <mat-select [(ngModel)]="filtre_canceled" (selectionChange)="onCancelSelect()"  [disabled]="canceled_disabled">
        <mat-option [value]="true">Oui</mat-option>
        <mat-option [value]="false">Non</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="col-md-2">
    <button mat-button color="info" (click)="reset_list()">Réinitialiser la liste</button>
  </div>

  <div class="col-md-6">
      <mat-paginator #paginator
                    class="demo-paginator"
                    (page)="handlePageEvent($event)"
                    [length]="totalDocs"
                    [pageSize]="limit"
                    [showFirstLastButtons]="true"
                    [pageSizeOptions]="[ 5 , 10 , 15 , 20 ]">
      </mat-paginator>
  </div>
</div>

<div class="row">
  @for (assignment of assignments; track assignment)
  {
    <app-one-assignment [assignment]="assignment"></app-one-assignment>
  }
</div>



