<mat-card class="mt-2" (click)="make_assignment()" >
  <mat-card-content>

    @if( loader === true )
    {
      <div class="d-flex justify-content-center mt-5">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    }
    @else
    {
    <div class="row fs-12">

      <div class="col-md-1">
        <img src="{{ matiere?.imageMatiere }}" class="rounded-circle" width="75" height="75">
      </div>

      <div class="col-md-4">
          <strong>Matière: </strong>{{ matiere?.nom }}
          <br>
          <strong>Description: </strong>{{ assignment?.description }}
          <br>
          <strong>Niveau: </strong>{{ assignment?.niveau }}
          <br>
          <strong>Date limite: </strong>{{ assignment?.dl | date :"dd-MM-yyyy" }}
      </div>

      <div class="col-md-1">
        <img src="{{ enseignant?.img_url }}" class="rounded-circle" width="75" height="75">
      </div>

      <div class="col-md-4">
          <strong>Enseignant(e): </strong>{{ enseignant?.nom }}
          <br>
          <strong>Email: </strong>{{ enseignant?.email }}
      </div>

      <div class="col-md-2">
        @if ( note?.rendu === false )
        {
          <strong>Rendue: </strong><span class="badge bg-danger">NON</span>
        }
        @else
        {
          <strong>Rendue: </strong><span class="badge bg-success">OUI</span>
        }
        <br>
        @if ( note?.noted === false )
        {
          <strong>Notée: </strong><span class="badge bg-danger">NON</span>
        }
        @else
        {
          <strong>Notée: </strong><span class="badge bg-success">OUI</span>
        }
        <br>
        <strong>Note: </strong>{{ note?.note }} / 20
        <br>
        <p>** {{ note?.remarque }} **</p>
      </div>

    </div>
    }

  </mat-card-content>
</mat-card>
