<mat-card class="mt-2">
  <mat-card-content>

    <div class="row">

      <div class="col-md-2">
        <img src="{{ matiere?.imageMatiere }}" class="rounded-circle" width="75" height="75">
      </div>

      <div class="col-md-5">
          <strong>Nom de la matière : </strong>{{ matiere?.nom }}
          <br>
          <strong>Enseignant : </strong>{{ enseignant?.nom }} ({{ enseignant?.email }})
          <br>
          <strong>Assignation : </strong>{{ assignment?.description }}
          <br>
          <strong>Pour les étudiant en : </strong>{{ assignment?.niveau }}
      </div>

      <div class="col-md-5">
        @if ( note?.rendu === false )
        {
          <strong>Rendue : </strong><span class="badge bg-danger">NON</span>
        }
        @else
        {
          <strong>Rendue : </strong><span class="badge bg-success">OUI</span>
        }
        <br>
        <strong>Note : </strong>{{ note?.note }} / 10
      </div>

    </div>

  </mat-card-content>
</mat-card>
