<div class="row mt-3">
  <div class="col-md-12">
    <h1>Liste des notes</h1>
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-4">
    <img src="{{ matiere?.imageMatiere }}" width="150" height="150">
  </div>
  <div class="col-md-8">
      <strong>Nom de la matière : </strong>{{ matiere?.nom  }}
      <br>
      <strong>Enseignant : </strong>{{ enseignant?.nom + " " + enseignant?.prenom }} ({{ enseignant?.email }})
      <br>
      <strong>Description de l' assignation : </strong>{{ assignment?.description }}
      <br>
      <strong>Pour les étudiant en : </strong>{{ assignment?.niveau }}
      <br>
      <strong>Date limite : </strong>{{ assignment?.dl | date :"dd-MM-yyyy" }}
  </div>
</div>

<div class="row mt-3">

  <mat-form-field  class="col-md-2">
    <mat-label>Rendu</mat-label>
    <mat-select [(ngModel)]="filtre_rendu" (selectionChange)="onRenduValueSelect()">
        <mat-option [value]="true">Oui</mat-option>
        <mat-option [value]="false">Non</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field  class="col-md-2">
    <mat-label>Noté</mat-label>
    <mat-select [(ngModel)]="filtre_noted" (selectionChange)="onNotedValueSelect()">
        <mat-option [value]="true">Oui</mat-option>
        <mat-option [value]="false">Non</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="col-md-2">
    <button mat-button color="info" (click)="reset_list()">Réinitialiser la liste</button>
  </div>

  <div class="col-md-6">
      <mat-paginator #paginator
                    class="demo-paginator"
                    (page)="handlePageEvent($event)"
                    [length]="totalDocs"
                    [pageSize]="limit"
                    [showFirstLastButtons]="true"
                    [pageSizeOptions]="[ 5 , 10 , 15 , 20 ]">
      </mat-paginator>
  </div>
</div>

<div class="row">
  @for (note of notes; track note)
  {
    <app-on-note [note]="note"></app-on-note>
  }
</div>
